- if i > 0
    %div{class: "relative my-4"}
        %div{class: "absolute inset-0 flex items-center", "aria-hidden": true}
            %div{class: "w-full border-t border-gray-300"}
        %div{class: "relative flex justify-center"}
            %span{class: "bg-white px-2 text-sm text-gray-500 condition-by"} #{c.by}
%div{class: "overflow-hidden rounded-lg bg-white border border-gray-400"}
    %div{class: "px-4 py-5 sm:p-6"}
        - g.operations.each_with_index do |o, i|
            = render partial: "operations/operation", locals: {o: o, i: i, g: g}