%div{class: "bg-gray-900 px-6 py-2.5 sm:px-3.5"}
    %div{class: "flex items-center mx-auto max-w-7xl px-4 sm:px-6 lg:px-8"}
        %p{class: "text-sm/6 text-white"}
            %strong{class: "font-semibold"}
                = (alert ? "Alert" : "Notice")
            %svg.mx-2.inline.fill-current{"aria-hidden" => "true", class: "h-0.5 w-0.5", viewbox: "0 0 2 2"}
                %circle{cx: "1", cy: "1", r: "1"}
            = alert || notice
        .flex.flex-1.justify-end
            %button{class: "-m-3 p-3 focus-visible:outline-offset-[-4px]", type: "button"}
                %span.sr-only Dismiss
                %svg.h-5.w-5.text-white{"aria-hidden" => "true", "data-slot" => "icon", fill: "currentColor", viewbox: "0 0 20 20"}
                    %path{d: "M6.28 5.22a.75.75 0 0 0-1.06 1.06L8.94 10l-3.72 3.72a.75.75 0 1 0 1.06 1.06L10 11.06l3.72 3.72a.75.75 0 1 0 1.06-1.06L11.06 10l3.72-3.72a.75.75 0 0 0-1.06-1.06L10 8.94 6.28 5.22Z"}