%template{data:{"nested-form-target": "template"}}
    %div{class: "relative my-4"}
        %div{class: "absolute inset-0 flex items-center", "aria-hidden": true}
            %div{class: "w-full border-t border-gray-300"}
        %div{class: "relative flex justify-center"}
            %span{class: "bg-white px-2 text-sm text-gray-500 group-by"} #{group.by}
    = f.fields_for :operations, Operation.new, child_index: "NEW_RECORD" do |operation_fields|
        = render partial: "operations/form", locals: {f: operation_fields}